In [4]:
import pandas as pd
import sqlalchemy as alch

In [8]:
from getpass import getpass
password = getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

In [9]:
dbName="sakila"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [ ]:
#Check the number of rentals for each customer for May

In [16]:
may = pd.read_sql_query(
"""
select count(rental_id), customer_id
from sakila.rentals_may
group by customer_id
order by count(rental_id) desc;

""", engine);
may.head()

   count(rental_id)  customer_id
0                 8          197
1                 7          506
2                 7          109
3                 6          269
4                 6          239

In [ ]:
#Check the number of rentals for each customer for June

In [17]:
june = pd.read_sql_query(
"""
select count(rental_id), customer_id
from sakila.rentals_june
group by customer_id
order by count(rental_id) desc;

""", engine);
june.head()

   count(rental_id)  customer_id
0                11           31
1                10          454
2                 9          329
3                 9          295
4                 9          561

In [15]:
#Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

In [32]:
may_ju = pd.merge(may, june,how='outer', on='customer_id')
may_ju.fillna(0, axis=1, inplace=True)

In [29]:
may_ju2 = may_ju.rename(columns={"rental_count_x":"rental_count_may","rental_count_y":"rental_count_june"})
may_ju2.columns

Index(['count(rental_id)_x', 'customer_id', 'count(rental_id)_y'], dtype='object')

In [26]:
concat_df = pd.concat([may,june])
concat_df.head()

   count(rental_id)  customer_id
0                 8          197
1                 7          506
2                 7          109
3                 6          269
4                 6          239

In [31]:
concat_df['check'] = may_ju2['rental_count_x'] < may_ju2['rental_count_y']
concat_df.head()

KeyError: 'rental_count_x'